@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  min-height: 100vh;
}
.drag-area{
  border: 2px dashed rgb(20, 19, 19);
  height: 400px;
  width: 500px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.drag-area.active{
  border: 2px solid rgb(31, 29, 29);
}
.drag-area .icon{
  font-size: 100px;
  color: rgb(24, 22, 22);
}
.drag-area header{
  font-size: 30px;
  font-weight: 500;
  color: rgb(26, 24, 24);
}
.drag-area span{
  font-size: 25px;
  font-weight: 500;
  color: rgb(22, 21, 21);
  margin: 10px 0 15px 0;
}
.drag-area button{
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: rgb(179, 171, 171);
  color: #0b0b0c;
  border-radius: 5px;
  cursor: pointer;
}
.drag-area img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.contener{
  display: flex;
}
.secondBox{
  padding: 15px;
  width: 700px;
  left: 100px;
  position: relative;  
}
.secondBox h6 .f{
  margin-left: 650px;
}
.secondBox .left1234{
  margin-left: 550px;
}
@media (max-width:450px) {
  .contener{
    margin-left: -25px;
    
  }
  .drag-area{
    width: 450px;
  }
  .secondBox{
    margin-left: -540px;
    margin-top: 400px;
    width: 100%;
  }
  
}

